version: "3.8"
services:
{% for container in docker_containers %}
  {{ container.name }}:
    image: {{ container.image }}
    {% if container.ports is defined %}
ports:
{% for port in container.ports %}
    - "{{ port }}"
{% endfor %}
    {% endif %}
    {% if container.volumes is defined %}volumes:
{% for volume in container.volumes %}
    - "{{ volume }}"
{% endfor %}
    {% endif %}
    {% if container.environment is defined %}
    environment:
{% for key, value in container.environment.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
    {% endif %}
{% endfor %}